<section class="py-5">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <h1 class="text-center">
                        Admin Pannel
                    </h1>
                    <span class="d-flex align-items-center mx-3"><img src="\images\settings-img.png" alt="setimg"
                            width="45" height="45" class="img-fluid ">
                    </span>
                </div>
                <div class="py-2">
                    <form [formGroup]="userForm" (ngSubmit)="addNrmlUser()">
                        <div class="row">
                            <div class="col-5">
                                <label for="name" class="form-label ">User Name</label>
                                <input type="text" id="name" class="form-control" placeholder="user name" 
                                formControlName="user_name"/>
                            </div>
                            <div class="col-4">
                                <label for="name" class="form-label">Password</label>
                                <input type="text" id="name" class="form-control" placeholder="password" 
                                formControlName="password"/>
                            </div>
                            <div class="col-3 d-flex  gap-2 align-items-end ">
                                <div class="w-100 ">
                                    <button type="submit" class="w-100 sbt-btn ">Submit</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="py-3">
                    <h2 class=" text-center fw-bold">Admin List</h2>
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="table-dark text-center">
                            <tr>
                                <th style="width: 27%;">User Name</th>
                                <th style="width: 27%;">Password</th>
                                <th style="width: 20%;">Status</th>
                                <th style="width: 13%;">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center fw-bold">
                            <tr *ngFor="let data of allUser">
                                <td>{{data?.user_name}}</td>
                                <td>{{data?.password}}</td>
                                <td>{{data?.isActive?'Active':'Denied'}}</td>
                                <td class="d-flex gap-1">
                                    <button class="w-100 edit-btn fw-bold" (click)="updateUserStatus(data,'Access')">
                                        {{!data?.isActive?'Activate':'Deny'}}
                                    </button>
                                    <button class="w-100 delete-btn fw-bold" (click)="updateUserStatus(data,'Delete')">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>