<section class="py-5">
    <div class="container ">
        <div class="d-flex justify-content-center">
            <h1 class="text-center h1-res">
                Create Expence
            </h1>
            <span class="d-flex align-items-center mx-1 mx-lg-3 mx-xl-3 mx-xxl-3"><img src="\images\notes.png" alt=""
                    width="45" height="45" class="img-fluid ">
            </span>
        </div>
        <div class="row pt-3">
            <div class="col-lg-10 offset-lg-1 col-xl-10 offset-xl-1 col-xxl-10 offset-xxl-1">
                <form>
                    <div class="row">
                        <div class="mb-3 col">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="date" name="date" required readonly
                            [(ngModel)]="expence.date">
                        </div>

                        <div class="mb-3 col">
                            <label for="amount" class="form-label">Amount ($)</label>
                            <input type="text" class="form-control" id="amount" required 
                            name="amount" [(ngModel)]="expence.amount">
                        </div>

                        <div class="mb-3 col">
                            <label for="notes" class="form-label">Notes</label>
                            <textarea class="form-control" id="notes" name="item" rows="3"
                                placeholder="Write a brief description or note..."
                                [(ngModel)]="expence.items"></textarea>
                        </div>
                        <div class="text-center col-6 offset-3 pt-2">
                            <button type="submit" class="submit-expence fw-bold"
                            [disabled]="expence.status" (click)="createExpence()">
                            {{expence.status ? 'processing...':'Submit Expense'}}</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <!-- <div class="row py-4">
            <div class="col-lg-10 offset-lg-1 col-xl-10 offset-xl-1 col-xxl-10 offset-xxl-1">
                <div class="row">
                    <div class="col-5">
                        <div class="">
                            <label for="date" class="form-label"> Start date :</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="">
                            <label for="date" class="form-label"> End date :</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                    </div>
                    <div class="col-2 d-flex align-items-end">
                        <div class="w-100">
                            <button class=" expense-src-btn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row pt-1">
            <div class="col-lg-10 offset-lg-1 col-xl-10 offset-xl-1 col-xxl-10 offset-xxl-1">
                <div class="">
                    <h4></h4>
                    <table class="table table-striped table-bordered mt-3">
                        <thead class="table-dark text-center">
                            <tr>
                                <th>Date</th>
                                <th>Item</th>
                                <th>Amount ($)</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <!-- Example rows (replace with dynamic data later if needed) -->
                            <tr *ngFor="let data of expenceList">
                                <td style="width: 20%;">{{data?.createdAt|date:'dd-MM-yyyy'}}</td>
                                <td style="width: 35%;">{{data?.items}}</td>
                                <td style="width: 15%;">{{data?.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="row">
                        <div class="col text-end">
                            <button class="expence-btn fw-bold">Today expence completed</button>
                        </div>
                    </div> -->
                </div>
            </div>

        </div>
    </div>
</section>