    @media (max-width: 576px) {
        .h1-res {
            font-size: 35px !important;
            align-items: center !important;
        }
    }



    .submit-expence {
        border: none;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.863);
        border-radius: 5px;
        padding: 8px 35px 8px 35px;
        transition: all 0.9s ease;
    }

    .submit-expence:hover {
        background-color: var(--black-clr);
        color: var(--white-clr);

    }

    .expence-btn {
        border: none;

        background-color: rgba(255, 255, 255, 0.863);
        border-radius: 5px;
        padding: 8px 35px 8px 35px;
        transition: all 0.9s ease;
    }

    .expence-btn:hover {
        background-color: var(--black-clr);
        color: var(--white-clr);

    }

    label {
        font-weight: bold;
    }

    .expense-src-btn {
        border: none;
        background-color: rgba(255, 255, 255, 0.863);
        border-radius: 5px;
        transition: all 0.9s ease;
        padding: 6px;
        width: 100%;
    }

    .expense-src-btn:hover {
        background-color: var(--black-clr);
        color: var(--white-clr);
    }