<section class="py-5">
    <div class="container">
        <h1 class="text-center">Invoice </h1>
        <!-- table row start -->
        <div class="row" id="to-print">
            <div class="col-lg-8 offset-lg-2 ">
                <div class="">
                    <table class="table table-striped table-bordered ">
                        <tbody>
                            <tr>
                                <td style="width: 100%;">
                                    <div class="row">
                                        <div class="col">
                                            <div class="text-center">
                                                <h3 class="fw-bold">APS LAUNDRY <span class="invoice-mlr-title">-
                                                        &nbsp;Melur</span></h3>
                                                <div class="d-flex justify-content-center">
                                                    <div class="d-flex gap-2 ">
                                                        <div class="">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor"
                                                                class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd"
                                                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                                                            </svg>
                                                        </div>
                                                        <div class="">
                                                            <span>9843244666 &nbsp; 9585754119</span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="text-center">
                                <td style="width: 100%;">
                                    <div class="d-flex justify-content-center">
                                        <div class="d-flex gap-5">
                                            <div class="">
                                                <div><span class="fw-bold ">B/No :</span>&nbsp;<span>{{orders?.bill_no}}</span></div>
                                            </div>
                                            <div class="">
                                                <div><span class="fw-bold">Kuri :</span>&nbsp;<span>{{orders?.kuri}}</span></div>
                                            </div>
                                            <div class="">
                                                <div><span class="fw-bold">Date :</span>&nbsp;<span>{{orders?.date}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">
                                    <div class="row">
                                        <div class="col text-end">
                                            <div class="">
                                                <span class="fw-bold">Customer Name : &nbsp;</span><span>{{orders?.user_name}}</span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="">
                                                <span class="fw-bold">Phone Number :
                                                    &nbsp;</span><span>{{orders?.phone_no}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">
                                    <div class="row">
                                        <div class="col">
                                            <div class="address-box px-2">
                                                <p class="fw-bold">Address :</p>
                                                <address>
                                                    {{orders?.address}}
                                                </address>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 100%;">
                                    <div class="row">
                                        <div class="col ">
                                            <table class="table table-striped table-bordered">
                                                <thead class="table-dark text-center">
                                                    <tr>
                                                        <th>No:</th>
                                                        <th>Product Name</th>
                                                        <th>Qty</th>
                                                        <th>Amount</th>
                                                        <th>Total Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-center" *ngFor="let data of orders?.orders;index as i">
                                                        <td>{{i+1}}</td>
                                                        <td>{{data?.item}}</td>
                                                        <td>{{data?.quantity}}</td>
                                                        <td>{{data?.amount}}</td>
                                                        <td>{{data?.total}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 100%;">
                                    <div class="row">
                                        <div class="col-5  d-flex align-items-center justify-content-center">
                                            <label class="form-label text-end fw-bold">Total Amount :</label>
                                        </div>
                                        <div class="col-7"><input type="text" readonly class="total-amd form-control"
                                                [placeholder]="orders?.overAllTotal">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- table row end -->

        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="">
                    <button class="print-btn fw-bold" (click)="printElementById('to-print')">Print</button>
                </div>
            </div>
        </div>
    </div>
</section>