span,
p,
address {
    color: rgb(226, 232, 234) !important;
}


.save-boxs {
    background-color: var(--box-clr);
    color: var(--white-clr);
    border-radius: 16px;
    transition: all 0.6s ease;

}

.save-boxs:hover {
    transform: scale(1.01);

}

p {
    margin: 0px;
    padding: 0px;
}

thead tr,
th {

    border: 2px solid var(--box-clr);
    color: var(--box-clr);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.797);
}


tbody tr,
td {

    background-color: rgba(255, 255, 255, 0.797);
    border: 2px solid var(--box-clr);
}

.total-amd {
    background-color: rgba(255, 255, 255, 0.9);
}

.savebox-btnone {
    border: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    transition: all 0.8s ease;
}

.savebox-btntwo {
    border: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    transition: all 0.8s ease;
}

.savebox-btnthree {
    border: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    transition: all 0.8s ease;
}

.savebox-btnone:hover {
    background-color: var(--green-clr);
    color: var(--white-clr);
    transform: scale(1.03);
}

.savebox-btntwo:hover {
    background-color: var(--red-clr);
    color: var(--white-clr);
    transform: scale(1.03);
}

.savebox-btnthree:hover {
    background-color: var(--black-clr);
    color: var(--white-clr);
    transform: scale(1.03);
}

button {
    font-weight: bold;
}


.search-input {
    border: none;
    width: 100%;
    padding: 6px 6px 6px 6px;
    background-color: transparent;
}

.search-input:focus {
    outline: none;
}

.search-btn {
    border: none;
   background-color: rgba(255, 255, 255, 0.863);
    border-radius: 10px;
    width: 20%;
    transition: all 0.8s ease;
    padding: 5px 0px 5px 0px;
}

.search-btn:hover {
    background-color: var(--box-clr);
    color: var(--white-clr);
}

.search-btn:hover svg {
    fill: white;

}

.search-container {
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 8px;
    border: 1px solid var(--silver-clr);
}

.count-box {
    border: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    transition: all 0.8s ease;
    font-weight: bold;

}

.count-box-para {
    color: var(--black-clr) !important;
}

.all-move-btn {
    border: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    transition: all 0.8s ease;
}

.all-move-btn:hover {
    background-color: var(--black-clr);
    color: var(--white-clr);

}
 .expense-src-btn {
        border: none;
        background-color: rgba(255, 255, 255, 0.863);
        border-radius: 5px;
        transition: all 0.9s ease;
        padding: 6px;
        width: 100%;
    }

      .expense-src-btn:hover {
        background-color: var(--black-clr);
        color: var(--white-clr);
    }