<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="d-flex justify-content-center">
                    <h1 class="text-center">
                        Washing page
                    </h1>
                    <span class="d-flex align-items-center mx-2"><img src="\images\washing-machine.png" alt=""
                            width="45" height="45" class="img-fluid ">
                    </span>
                </div>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-center">
                <div class="d-flex gap-5">
                    <div class="" routerLink="/confirmorderlist">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-arrow-left fw-bold" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                        </svg>
                    </div>
                    <div class="" routerLink="/ironing">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-arrow-right fw-bold" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-8 offset-lg-2 py-3">
                <div class="row">
                    <div class="col">
                        <div class="search-container">
                            <input type="search" placeholder="Kuri" class="search-input" name="kure" [(ngModel)]="search.kuri">
                        
                        </div>
                    </div>
                    <div class="col">
                        <div class="search-container">
                            <input type="number" placeholder="Bill no" class="search-input" name="bill" [(ngModel)]="search.bill_no">
                          
                        </div>
                    </div>

                </div>

                      <div class="row pt-3">
                    <div class="col"></div>
                    <div class="col">
                        <button type="submit" class="search-btn w-100 "> Search<svg xmlns="http://www.w3.org/2000/svg" width="25"
                                height="16" fill="light" class="bi bi-search " viewBox="0 0 16 16"
                                (click)="getSaveOrders(search)">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </div>
                    <div class="col">
                        <button type="submit" class="search-btn w-100" (click)="search={};search.type = 'washing';getSaveOrders(search)">
                            Clear
                        </button>
                    </div>
                </div>

                <div class="row pt-4">
                    <div class="col-8">
                        <div class="">
                            <button class="all-move-btn" (click)="updateStatus('move','all')">All move to ironing</button>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="count-box text-center">
                            <p class="count-box-para">{{orders.length}}</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-8 offset-lg-2 py-3" *ngFor="let data of orders">
                <div class="save-boxs px-4 py-4" *ngIf="orders.length >0" >
                    <div class="row pt-2">
                        <div class="col">
                            <div><span class="fw-bold boxs-headings">B/No :&nbsp;</span><span>{{data?.bill_no}}</span></div>
                        </div>
                        <div class="col text-center">
                            <div><span class="fw-bold boxs-headings">Kuri :&nbsp;</span><span>{{data?.kuri}}</span></div>
                        </div>
                        <div class="col text-end">
                            <div><span class="fw-bold boxs-headings">Date :&nbsp;</span><span>{{data?.date}}</span></div>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col">
                            <div class="">
                                <span class="fw-bold boxs-headings">Customer Name : &nbsp;</span>
                                <span>{{data?.user_name}}</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="">
                                <span class="fw-bold boxs-headings">Phone Number : &nbsp;</span>
                                <span>{{data?.phone_no}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="address-box pt-2">
                        <p class="fw-bold boxs-headings">Address :</p>
                        <address>
                            {{data?.address}}
                        </address>
                    </div>
                    
                    <table class="table table-striped table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>No:</th>
                                <th>Product Name</th>
                                <th>Qty</th>
                                <th>Amount</th>
                                <th>Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let el of data?.orders; index as i">
                                <td>{{i+1}}</td>
                                <td>{{el?.item}}</td>
                                <td>{{el?.quantity}}</td>
                                <td>{{el?.amount}}</td>
                                <td>{{el?.total}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-5  d-flex align-items-center justify-content-center">
                                    <label class="form-label text-end">Total Amount :</label>
                                </div>
                                <div class="col-7"><input type="text" class="total-amd form-control"
                                        [placeholder]="data?.overAllTotal"></div>
                            </div>
                        </div>
                        <div class="col">
                            <button class="savebox-btnthree" (click)="updateStatus('move',data?.bill_no)">Move to Ironing</button>
                        </div>

                    </div>
                    <div class="row pt-4">
                        <div class="col">
                            <div>
                                <span class="fw-bold">Confirm Date</span>
                            </div>
                            <div>
                                <span class="fw-bold"> : {{data?.orders[0]?.confirm|date:'dd-MM-yyyy'}}</span>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <span class="fw-bold">Washing Date</span>
                            </div>
                            <div>
                                <span class="fw-bold"> : {{data?.orders[0]?.washing|date:'dd-MM-yyyy'}}</span>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <span class="fw-bold">Ironing Date</span>
                            </div>
                            <div>
                                <span class="fw-bold"> : {{data?.orders[0]?.ironing|date:'dd-MM-yyyy'}}</span>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <span class="fw-bold">Packing Date</span>
                            </div>
                            <div>
                                <span class="fw-bold"> : {{data?.orders[0]?.packing|date:'dd-MM-yyyy'}}</span>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <span class="fw-bold">Delivery Date</span>
                            </div>
                            <div>
                                <span class="fw-bold"> : {{data?.orders[0]?.delivery|date:'dd-MM-yyyy'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

              <div class="col-lg-8 offset-lg-2 pt-5" *ngIf="orders.length === 0" >
                <h2 class="text-center fw-bold">No Orders Found</h2>
            </div>

        </div>
    </div>
</section>